<!DOCTYPE html>
<html ng-app='app'>
<head>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <title>Werewolf - SR Style</title>
</head>
<body ng-controller='mainCtrl'>
  <button ng-click="passwordSet()" id="password-set">Set Master Password</button>
  <button ng-click="backgroundChange()" type="button" name="button">Change to {{timeOfDay}}</button>
  <div id="main-parent">
    <div id="cover">
      <button ng-click="addProfile(0)" name="button">Add Player</button>
      <div id="profiles">
        <div id="profileRepeater" ng-repeat="profile in profileTracker track by $index">
          <ng-include src=" 'profile.html' "></ng-include>
        </div>
        <!-- <div class="frame" id="profile-two"><img src={{profileFrame}} height=250px alt=""></div>
        <div class="frame" id="profile-three"><img src={{profileFrame}} height=250px alt=""></div>
        <div class="frame" id="profile-four"><img src={{profileFrame}} height=250px alt=""></div>
        <div class="frame" id="profile-five"><img src={{profileFrame}} height=250px alt=""></div> -->
      </div>
    </div>
  </div>

  <!-- Below are the scripts for Jquery, Angular and Javascript Files -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
  <script src="app.js"></script>
  <script src="mainCtrl.js"></script>
  <script src="service.js"></script>

  <!-- Above are the scripts for Jquery, Angular and Javascript Files -->
</body>
</html>
