body {
  width: 98vw;
  height: 97vh;
  background-image: url("https://dl.dropbox.com/s/5hqbjkhskrz6c47/night_layered.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-size: contain;
  transition-property: background-image;
  transition-duration: 2s;
  font-family: 'Great Vibes', cursive; }

#main-parent {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

#cover {
  width: auto;
  min-width: 500px;
  height: auto;
  background-color: rgba(140, 140, 140, 0.6);
  border-radius: 10px; }

#profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px; }

.frame {
  margin: 40px;
  position: relative;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.initials {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  margin-top: 20%;
  font-size: 55px; }

#create {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 18px; }

#delete {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 18px; }

button {
  border-radius: 6px;
  background-color: rgba(140, 140, 140, 0.9); }

#kill {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 18px;
  width: 100px; }

#rip-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin: 40px; }

#rip-one-name {
  position: absolute; }

#rip-one-saying {
  position: absolute;
  padding-top: 75px;
  font-family: serif; }

#profile-one {
  height: 300px; }

#profileRepeater {
  height: 400px; }

#strike {
  transition: all 1s; }

.ng-hide-add {
  animation: 0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove {
  animation: 0.5s flipInX ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px); } }
/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }
@keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
